<div id="<%= dom_id job %>">
  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= job.question_id %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= job.template_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= job.model_id %>
  </p>

  <p>
    <strong>Is running:</strong>
    <%= job.is_running %>
  </p>

  <p>
    <strong>Is done:</strong>
    <%= job.is_done %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= job.start_time %>
  </p>

  <p>
    <strong>Run time:</strong>
    <%= job.run_time %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= job.created_at %>
  </p>

</div>
