<div id="<%= dom_id attachment %>">
  <p>
    <strong>File type:</strong>
    <%= attachment.file_type %>
  </p>

  <p>
    <strong>File name:</strong>
    <%= attachment.file_name %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= attachment.file_path %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= attachment.content_type %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= attachment.contents %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= attachment.created_at %>
  </p>

</div>
